<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Number Input Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="form-container">
    <h2>Вводите параметры квартиры</h2>
    <form id="predictForm">
      <input type="number" name="area" step="any" required placeholder="Площадь квартиры, m²">
      <input type="number" name="rooms_count" step="any" required placeholder="Количество комнат">
      <input type="number" name="floors_count" step="any" required placeholder="Этажей в доме">
      <input type="number" name="floor" step="any" required placeholder="Этаж квартиры">
<!--      <input type="number" name="num2" placeholder="Number 2" required>-->
<!--      <input type="number" name="num3" placeholder="Number 3" required>-->
<!--      <input type="number" name="num4" placeholder="Number 4" required>-->
      <br>
      <button type="submit">Predict Price</button>
    </form>

    <div id="response"></div>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
